<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/style8.css">
        <title>Carousel Blog Templates | Bootcatch</title>
    </head>
    <body >
        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="back-to-top">
            <a class="navbar-brand" href="#">Python courses</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Advanced">Python Tutorial<span class="sr-only">(current)</span></a>
                    </li>
					<li class="nav-item active">
                        <a class="nav-link" href="/project">Python Projects<span class="sr-only">(current)</span></a>
                    </li>
					<li class="nav-item active">
                        <a class="nav-link" href="/courses">Python Courses<span class="sr-only">(current)</span></a>
                    </li>
					<li class="nav-item active">
                        <a class="nav-link" href="/book">Python Books<span class="sr-only">(current)</span></a>
                    </li>
					<li class="nav-item active">
                        <a class="nav-link" href="/blog">Blog<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

                </form>
            </div>
        </nav>
        <!-- navbar ends -->

        <!-- hoizontal blog -->
        <div class="container">
            <div class="card shadow mb-5 mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h2><a class="nav-link" target="_blank"  href="https://www.udemy.com/course/complete-python-bootcamp/?ranMID=39197&ranEAID=jU79Zysihs4&ranSiteID=jU79Zysihs4-y.sVqgZrh9AZlvWOZpczWg&LSNPUBID=jU79Zysihs4&utm_source=aff-campaign&utm_medium=udemyads"> Complete Python Bootcamp 2022: Go from Zero to Hero in Python </a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nisi porro itaque atque impedit amet obcaecati praesentium vel fugiat, eos veritatis labore, blanditiis aut a hic perferendis harum odit excepturi?</p>
                            <button class="btn btn-primary"><a class="nav-link" target="_blank"  href="https://www.udemy.com/course/complete-python-bootcamp/?ranMID=39197&ranEAID=jU79Zysihs4&ranSiteID=jU79Zysihs4-y.sVqgZrh9AZlvWOZpczWg&LSNPUBID=jU79Zysihs4&utm_source=aff-campaign&utm_medium=udemyads">Course</a></button>
                        </div>
                        <div class="col-md-4">
                            <img src="static/images/imag5.jpg" class="img-fluid" alt="bootcatch carousel blog">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                             <img src="static/images/imag5.jpg" class="img-fluid" alt="bootcatch carousel blog">
                        </div>
                        <div class="col-md-8">
                                                        <h2><a class="nav-link" target="_blank"  href="https://www.codecademy.com/learn/learn-python-3?utm_source=pepperjam&utm_medium=affiliate&utm_term=214552&clickId=3956519871&pj_creativeid=8-12462&pj_publisherid=214552">Python 3 Tutorial from Codeacademy</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nisi porro itaque atque impedit amet obcaecati praesentium vel fugiat, eos veritatis labore, blanditiis aut a hic perferendis harum odit excepturi?</p>
                            <button class="btn btn-primary"><a class="nav-link" target="_blank"  href="https://www.codecademy.com/learn/learn-python-3?utm_source=pepperjam&utm_medium=affiliate&utm_term=214552&clickId=3956519871&pj_creativeid=8-12462&pj_publisherid=214552">Course</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-5 mt-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                                                        <h2><a class="nav-link" target="_blank"  href="https://www.udemy.com/course/python-the-complete-python-developer-course/?ranMID=39197&ranEAID=jU79Zysihs4&ranSiteID=jU79Zysihs4-flXYGYAUIZXr8sbm9aBUow&LSNPUBID=jU79Zysihs4&utm_source=aff-campaign&utm_medium=udemyads">Python Programming Masterclass</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nisi porro itaque atque impedit amet obcaecati praesentium vel fugiat, eos veritatis labore, blanditiis aut a hic perferendis harum odit excepturi?</p>
                            <button class="btn btn-primary"><a class="nav-link" target="_blank"  href="https://www.udemy.com/course/python-the-complete-python-developer-course/?ranMID=39197&ranEAID=jU79Zysihs4&ranSiteID=jU79Zysihs4-flXYGYAUIZXr8sbm9aBUow&LSNPUBID=jU79Zysihs4&utm_source=aff-campaign&utm_medium=udemyads">Course</a></button>
                        </div>
                        <div class="col-md-4">
                             <img src="static/images/imag5.jpg" class="img-fluid" alt="bootcatch carousel blog">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                             <img src="static/images/imag5.jpg" class="img-fluid" alt="bootcatch carousel blog">
                        </div>
                        <div class="col-md-8">
                                                        <h2><a class="nav-link" target="_blank"  href="https://www.udemy.com/course/the-python-mega-course/?ranMID=39197&ranEAID=jU79Zysihs4&ranSiteID=jU79Zysihs4-xCEiZCJ5wubapOz_lXcZWQ&LSNPUBID=jU79Zysihs4&utm_source=aff-campaign&utm_medium=udemyads">The Python Mega Course 2022: Build 10 Real-World Applications</a></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum nisi porro itaque atque impedit amet obcaecati praesentium vel fugiat, eos veritatis labore, blanditiis aut a hic perferendis harum odit excepturi?</p>
                            <button class="btn btn-primary"><a class="nav-link" target="_blank"  href="https://www.udemy.com/course/the-python-mega-course/?ranMID=39197&ranEAID=jU79Zysihs4&ranSiteID=jU79Zysihs4-xCEiZCJ5wubapOz_lXcZWQ&LSNPUBID=jU79Zysihs4&utm_source=aff-campaign&utm_medium=udemyads">Course</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>



<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <title>Footer</title>
  <link rel="stylesheet" type="text/css" href="static/css/style1.css">
</head>
<body>

  <footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-map-marker"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>1010 Avenue, sw 54321, chandigarh</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>9876543210 0</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>mail@info.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html">
                <img src="static/images/imag7.png" class="img-fluid" alt="logo" style="height: 75px;">
              </a>
            </div>
            <div class="footer-text">
              <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                elit,Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
              <a href="#"><i class="fa fa-facebook-f facebook-bg"></i></a>
              <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
              <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">about</a></li>
              <li><a href="#">services</a></li>
              <li><a href="#">portfolio</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Expert Team</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Latest News</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address">
                <button><i class="fa fa-telegram"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>Copyright &copy; 2018, All Right Reserved Mithila</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Policy</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% with messages = get_flashed_messages (with_categories=true) %}
{%if messages %}
{% for category, message in messages%}
{% if category == 'error'%}
<div class="alert alert-danger alert-dismissable fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alert-dismissable fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor %}
{%endif%}
{% endwith %}
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
<script type="text/javascript" src="{{url_for('static', filename='index.js')}}">
</script>
</body>
</html>

