<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />
        <title>{% block title%}{%endblock%}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </head>
    <body>
{% with messages = get_flashed_messages (with_categories=true) %}
{%if messages %}
{% for category, message in messages%}
{% if category == 'error'%}
<div class="alert alert-danger alert-dismissable fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alert-dismissable fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor %}
{%endif%}
{% endwith %}
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
<script type="text/javascript" src="{{url_for('static', filename='index.js')}}">
</script>
    </body>
</html>


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="static/css/style2.css">
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <script src="https://kit.fontawesome.com/05f1bca9fd.js" crossorigin="anonymous"></script>
      <title>Learn Python</title>
      <link rel="stylesheet" href="static/css/style.css">
        <title>DHVTSU</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Don Honorio Ventura Technological State University website">
        <meta name="keywords" content="Don Honorio Ventura Technological State University, DHVTSU, Bacolor, Pampanga, School, Education">
        <meta name="author" content="Mark Ian Pamintuan">
        <link rel="stylesheet" href="static/css/style3.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <div class="container">
                    <img id="logo" src="static/images/imag8.png" alt="DHVTSU logo">
                    <h1>Python is a popular programming language.</h1>
                    <p>Python is a high-level, interpreted, general-purpose programming language.</p>
                </div>
            </header>

            <nav>
                <div class="container">
                    <ul>
                        <li><a href="/">Home</a>
                            <ul>
                                <li><a href="/Advanced">Tutorial</a></li>
                                <li><a href="/project">Projects</a></li>
                                <li><a href="/courses">Courses</a></li>
                                <li><a href="/book">Books</a></li>
                            </ul>
                        </li>
                        <li><a href="/Advanced">Python Tutorial</a></li>
                        <li><a href="/project">Python Projects</a></li>
                        <li><a href="/courses">Python Courses</a></li>
                        <li><a href="/book">Python Books</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>
            </nav>

            <section id="main">
                <div class="container">
                    <article id="main-content">
                        <h1>VISION</h1>
                        <hr>
                        <p>
                            The Lead Institution in generating knowledge, technology and innovating practices of the professions for global competitiveness.
                        </p>
                        <h1>MISSION</h1>
                        <p>
                            To provide a highly conducive environment for continuous improvement, empowerment and transformation of students into globally competitive professionals through enhanced teaching-research-service-production nexus.
                        </p>

                        <h1>CORE VALUES</h1>
                        <hr>
                        <h2>PROFESSIONALISM</h2>
                        <p>
                            Committed, hardworking, dynamic individuals and socially responsible individuals
                        </p>
                        <h2>GOOD GOVERNANCE</h2>
                        <p>
                            Transparent, responsive and accountable community of professionals
                        </p>
                        <h2>EXCELLENCE</h2>
                        <p>
                            High level performance, productive, creative, innovative and globally competitive individuals
                        </p>

                        <h1>MOVING TO GREATER HEIGHTS</h1>
                        <hr>
                        <p>
                            DHVCAT gradually advanced to greater heights from 2006 onwards. More buildings were constructed through the kind assistance of local officials and political leaders. Furthermore, through the assiduous efforts of the academic community led by the College President, Dr. Enrique G. Baking, DHVCAT was able to partake of a substantial amount from the Bacolor Rehabilitation Act for campus development. Under the new faculty and staff development program, instructors and non-teaching staff were given financial support to pursue graduate programs along their respective areas of specialization.
                        </p>
                        <p>
                            To provide students with a broader and stronger general education that will lay the foundation for critical and analytical thinking in all fields of specialization, the Institute of Arts and Sciences was created. More undergraduate and graduate programs were offered, namely: Bachelor of Science in Business Administration, Bachelor of Science in Entrepreneurship, Bachelor of Science in Industrial Engineering, Bachelor of Science in Fine Arts and Master of Public Administration. All these undertakings resulted to a steady increased student population.
                        </p>
                        <p>
                            Because of the collaborative efforts of dedicated officials, faculty members, staff and friends of DHVCAT, many lives continued to be transformed through academic excellence, innovation, research and development and leadership. Former Congressman Aurelio D. Gonzales, Jr. of the Third District of Pampanga as well as municipal and provincial leaders extended full support in the pursuit of the conversion of the College into a state university after two similar attempts failed in the past. A thorough evaluation of the college’s performance over the years was conducted by the technical working groups of the Commission on Higher Education, the Senate Commission on Education, Culture and Arts and the House Commission on Higher Technical Education. Finally, DHVCAT was found ready to be bestowed a university status.
                        </p>
                        <p>
                            On December 9, 2009 at the University Gymnasium, Former or the then President Gloria Macapagal-Arroyo signed Republic Act 9832, an Act converting DHVCAT in Don Honorio Ventura Technological State University (DHVTSU). The change from college to university will enable the institution to live more fully its vision.
                        </p>
                    </article>

                    <aside>
                        <br>
                        <label>Search:</label>
                        <br>
                        <input type="text">
                        <br>
                        <br>
                        <br>


                        <h2>Python Tutorial</h2>
                        <ul>
                            <li><a href="#">Python Intro</a></li>
                            <li><a href="#">Python Numbers</a></li>
                            <li><a href="#">Python Strings</a></li>
                            <li><a href="#">Python Booleans</a></li>
                            <li><a href="#">Python Data Types</a></li>
                            <li><a href="#">Python Lists</a></li>
                            <li><a href="#">Python Tuples</a></li>
                            <li><a href="#">Python Sets</a></li>
                            <li><a href="#">Python Dictionaries</a></li>
                            <li><a href="#">Python If...Else</a></li>
                            <li><a href="#">Python While Loops</a></li>
                            <li><a href="#">Python For Loops</a></li>
                            <li><a href="#">Python Functions</a></li>
                            <li><a href="#">Python Lambda</a></li>
                            <li><a href="#">Python Operators</a></li>
                            <li><a href="#">Python Arrays</a></li>
                            <li><a href="#">Python Classes</a></li>
                            <li><a href="#">Python Inheritance</a></li>
                            <li><a href="#">Python Iterators</a></li>
                            <li><a href="#">Python Scope</a></li>
                            <li><a href="#">Python Scope</a></li>
                            <li><a href="#">Python Math</a></li>
                            <li><a href="#">Python Modules</a></li>
                            <li><a href="#">Python Dates</a></li>
                            <li><a href="#">Python JSON</a></li>
                            <li><a href="#">Python PIP</a></li>
                            <li><a href="#">Python JSON</a></li>
                        </ul>

                    </aside>
                </div>
            </section>

</body>
</html>


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <title>Footer</title>
  <link rel="stylesheet" type="text/css" href="static/css/style1.css">
</head>
<body>

  <footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-map-marker"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>1010 Avenue, sw 54321, chandigarh</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>9876543210 0</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fa fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>mail@info.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html">
                <img src="static/images/imag7.png" class="img-fluid" alt="logo" style="height: 75px;">
              </a>
            </div>
            <div class="footer-text">
              <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                elit,Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
              <a href="#"><i class="fa fa-facebook-f facebook-bg"></i></a>
              <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
              <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">about</a></li>
              <li><a href="#">services</a></li>
              <li><a href="#">portfolio</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Expert Team</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Latest News</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address">
                <button><i class="fa fa-telegram"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>Copyright &copy; 2018, All Right Reserved Mithila</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
          <div class="footer-menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Policy</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
